:root{
  --clr-light: #dfdfdf;
  --clr-dark: #151616;
  --secondary-color: #29b916;
  --primary-text: #217ab1;
  --paragraph-color: rgb(0, 0, 0);
  --parallax-multiplier:linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
.darkmode{
  --clr-light: #151616;
  --clr-dark: #dfdfdf;
  --secondary-color: #0f7701;
  --primary-text: #0f2f42;
  --paragraph-color: rgb(255, 255, 255);
  --parallax-multiplier:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
body {
  margin-top: 3rem;
  background: var(--clr-light);
  color:var(--clr-dark);
  .navbar {
    background: var(--secondary-color);
    color:var(--clr-dark);
    box-shadow:
    var(--secondary-color) 0px 3px 6px,
    var(--secondary-color) 0px 3px 6px;
    a:hover {
      color: var(--clr-light);
    }
    a.contact {
      border-radius: 0.5rem;
      color:var(--clr-light);
    }
  }
    
  #parallaxTop{ 
    background:var(--parallax-multiplier),url(./pictures/parallax/waterfall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height: 85vh; 
    margin: 0 auto; 
    position: relative; 
    h1{
      color:var(--paragraph-color);
    }
   
  }    
  main{
    #parallaxMain{ 
      background:var(--parallax-multiplier), url(./pictures/parallax/underwater.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center; 
      height: 85vh; 
      width: 100%;
    }
    img {
      border-radius: 0.25rem;
      border: 2px solid var(--clr-dark);
      width: 100%;
    }
    h4 {
      color: var(--secondary-color);
    }
    i {
      color: var(--secondary-color);
    }
    p{
      color: var(--paragraph-color);
    }
    figcaption{
      color: var(--paragraph-color);
    }
    .card-title {
      color: var(--secondary-color);
      text-decoration: underline;
    }
    .cardbg {
      background-color: var(--primary-text);
      border: 3px solid var(--clr-dark);
    }
  }
  
  label {
    color: var(--clr-light);
    padding-top: 0.25rem;
    padding-left: 0.5rem;
  }
  .formbutton {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
  }
  button {
    background-color: var(--primary-text);
  }
  footer{
    .footericon{
      width: 35px;
      margin-right: 20px;
    }
  }
}