:root {
  --clr-light: #dfdfdf;
  --clr-dark: #151616;
  --secondary-color: #ffffff;
  --primary-color: #008ee6;
  --paragraph-color: rgb(0, 0, 0);
  --parallax-multiplier:linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

.darkmode {
  --clr-light: #151616;
  --clr-dark: #dfdfdf;
  --secondary-color: #1ADC01;
  --primary-color: #00273D;
  --paragraph-color: rgb(255, 255, 255);
  --parallax-multiplier:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

body {
  margin-top: 3rem;
  background-color: var(--clr-light);
  color: var(--clr-dark);
}
body nav {
  background-color: var(--primary-color);
  box-shadow: var(--clr-dark) 0px 3px 6px, var(--clr-light) 0px 3px 6px;
}
body nav .navbar-brand {
  color: var(--clr-light);
}
body nav .nav-item {
  border-radius: 0.25rem;
}
body nav .nav-item .activepage {
  color: var(--clr-dark);
  box-shadow: var(--clr-dark) 0px 3px 4px inset;
}
body nav .nav-item .page {
  color: var(--clr-light);
  background-color: var(--clr-dark);
}
body nav .nav-item .page:hover {
  color: var(--clr-dark);
  background-color: var(--clr-light);
}
body a, body .formbutton {
  border-radius: 0.7rem;
  margin-left: 20px;
  margin-right: 40px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: var(--clr-light);
  background-color: var(--clr-dark);
}
body footer {
  background-color: var(--primary-color);
}
body .resizeable {
  border-radius: 0rem;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
body .socials a {
  border-radius: 0rem;
  margin: 0px;
  margin-right: 20px;
  width: 35px;
  padding: 0px;
  background-color: var(--primary-color);
}
body .socials a :hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}
body a:hover, body .formbutton:hover {
  color: var(--clr-dark);
  background-color: var(--clr-light);
}
body #parallaxTop {
  background: var(--parallax-multiplier), url(./pictures/parallax/waterfall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 85vh;
  margin: 0 auto;
  position: relative;
}
body #parallaxTop h1 {
  color: var(--paragraph-color);
}
body main #parallaxMain {
  background: var(--parallax-multiplier), url(./pictures/parallax/underwater.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 85vh;
  width: 100%;
}
body main img {
  border-radius: 0.25rem;
  border: 2px solid var(---color);
  width: 100%;
  max-width: 800px;
}
body main h4, body main h5 {
  color: var(--secondary-color);
  padding: 10px;
}
body main i {
  color: var(--secondary-color);
}
body main p {
  color: var(--paragraph-color);
}
body main figcaption {
  color: var(--paragraph-color);
}
body main .card-title {
  color: var(--secondary-color);
}
body main .cardbg {
  background-color: var(--primary-color);
  border-radius: 15px;
  border: 3px solid var(--clr-dark);
}
body main .card-size-toggle {
  transition-duration: 1000ms;
}
body main label {
  color: var(--clr-light);
  padding-top: 0.25rem;
  padding-left: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
